.height-800-responsive {
  min-height: 815px;
}

@media (max-width: 1199.98px) {
  .height-800-responsive {
    height: 600px;
  }
}

@media (max-width: 767.98px) {
  .height-800-responsive {
    height: 400px;
  }
}

.fluid-img {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, div {
  display: block;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fluid-img {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header-container {
  width: 100%;
  color: white;
  background: url("../image/car-banner-multi.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 2rem);
}

.site-header {
  width: 100%;
  background: rgba(0, 36, 72, 0.8);
  padding: 20px 0;
}

.site-header .header-content {
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: minmax(100px, auto) minmax(auto, 1fr);
  grid-column-gap: 5%;
  max-width: 1400px;
  margin: auto;
  color: white;
}

.site-header .logo-container {
  grid-area: logo;
}

.site-header .logo-container .logo {
  font-size: 28px;
}

.site-header .main-nav {
  grid-area: nav;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.site-header .main-nav .nav-item {
  text-transform: uppercase;
  padding: 5px 0;
  line-height: 1;
  transition: .3s;
  font-size: 13px;
  margin-right: 5%;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.site-header .main-nav .nav-item:hover {
  border-color: #f05123 !important;
}

.site-header .main-nav:last-child {
  padding-right: 0;
}

.main-banner {
  height: calc(100% - 15rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 1400px;
  margin: auto;
}

.main-banner h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}

.main-banner h1 span {
  color: #ff4d01;
}

.main-banner .main-buttons-container {
  display: inline-flex;
  padding-top: 50px;
  justify-content: center;
}

.main-banner .main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  background: #fff;
  color: #f05123;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 31px;
  font-family: "Poppins", sans-serif;
  transition: all 500ms;
}

.main-banner .main-button:nth-child(2) {
  margin-left: 5%;
}

.main-banner .main-button:hover {
  background: #002448;
  border: none;
  outline: none;
  color: #fff;
}

.site-main {
  background-color: #fdfdfd;
}

.site-footer {
  background-color: bisque;
}
