// Color
$primary: #f05123;
$secondary: #002448;
$primBright: #ff4d01;

// Width
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Poppins', sans-serif;