@import "vars";
@import "mixin";
@import "reset";

// Structure
// .home-page .page-container {
//     background: url("../image/car-right-bg.jpg");
// }

.header-container {
    background: rgba($secondary, 0.7);
}
.site-header {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: minmax(100px, auto) minmax(auto, 1fr);
    grid-column-gap: 5%;
    color: white;
    .logo {
        grid-area: logo;
    }
    .main-nav {
        grid-area: nav;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        .nav-item {
            text-transform: uppercase; 
                padding: 5px 0;
                line-height: 1;
                transition: .3s;
                font-size: 13px;
                margin-right: 5%;
                border-bottom: 3px solid transparent;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                @include hover() {
                    border-color: $primary !important;
                }
        }
        &:last-child {
            padding-right: 0;
        }
    }
}
.main-banner {
    z-index: -100;
    position: absolute;
}


.site-main {
    background-color: #fdfdfd;
}

.site-footer {
    background-color: bisque;
}
